body {
    background-color: cadetblue;
    justify-content: center;
    margin-top: 20vh;
    margin-left: 42vw;
}

aside {
    padding: 10px;
    background-color: lightcoral;
    color: darkslategray;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

